@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap');

*{
    padding: 0;
    margin: 0 auto;
    font-family: 'Josefin Sans', sans-serif;
  
 }

 body{
   overflow-x: hidden;
   width: 100%;
   height: auto;
   min-height: 100%;
 }

 /* PAGINA INICIAL */

 .gradient{
    align-items: center;
    justify-content: center;
    height: auto;
    min-height: 700px;
    width: 100%;
    background: linear-gradient(45deg,#000000, #2f5f5d,#000000);
    background-size: 200%;
    animation: colors 10s ease infinite;
   
    

 }
.gradient a{
   text-decoration: none;
}
 @keyframes colors {
    0%{
        background-position: 0% 50%;

    }

    50%{
        background-position: 50% 100%;
    }

    100%{
        background-position: 0% 50%;
    }
}

.navbarr{
   border: 1px solid rgba(112, 107, 107, 0.035);
   width: 100%;
   height: 80px;
   text-align: center;
   margin-top: 30px;
 
   display: inline;
  
}

ul{

   margin: 0;
   padding: 0;

}

li{
  
   list-style: none;
   margin: 10px;
   display: inline;
   font-size: 20px;
  
   
}
nav li a{ 
   margin: 20px;
   padding: 10px 25px;
   text-decoration: none;
   color:white;
   border-radius: 40px;
}

nav li a:hover{
   color:#162a29;
   background:white;
}
 .logo{
    text-align: center;

   
 }
 
 .logo img{
   width: 380px;
   margin-top: -40px;   
 
 }

 .me {
   text-align: center;
   
 }
 
 .me img{
 width: 120px;
 margin-top: 150px;
 
 }

 /* ICONES */
#icons a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.789);
    padding-right: 3px;
 }
 #icons{
    margin-top: -20px;
    padding-bottom: 60px;
    color: rgba(255, 255, 255, 0.789);
    text-align: center;
    font-size: 25px;
    
 }
 
 #icons a:hover {
    color: #162a29;
    background: none;
 }
 /* FIM PAGINA INICIAL */
.animacaobolha{

}

.bolha{
   
}


 /*SOBRE*/

 
 .sobre-container{
   width: 70%;
   margin-top: 30px;
   margin-bottom: 5%;
   display: flex;
   
 }
.sobre-container p{
   font-size: 20px;
}
 .anm img{
   width: 400px;
   float: left;
   width: 150%;
   
 }

 .textosobre{
  margin-top: 30px;
  width: 40%;
  float: right;
 }
 
.h1-format{
   font-size: 35px;
   color: black;
   text-align: center;
   margin-top: 25px;
   margin-bottom: 25px;
   padding: 15px;
   border-top: 2px solid #7f9896;
   width: 10%;
       
}
#h1-format1{
   font-size: 25px;
   width: 40%;
   margin-left: 70px;
}
 .skills-container{
   margin-bottom: 8%;
   width: 30%;
   display: flex;
   flex-wrap: wrap;
 
 }
.box-skills{
   margin-bottom: 10px;
   border-radius: 5px;
   padding: 5px;
   font-size: 20px;
   background-color: #4d5e5d;
   color: white;  
   text-transform: lowercase;
   padding: 10px;
}

.box-skills:hover{
   background-color: #162a29;
   color: #ffffff;
}

 /* FIM SOBRE*/
 /*PROJETOS*/

 .Container-principal{
   width: 70%;
 }

 .card{
   min-height: 450px;
   margin-left: 25px;
}

.card-title{
   margin-top: 20px;
   
}

#formatt{
   margin-top: 50px;
}
.card-text{
   font-size: 18px;
}
.botoes{
   margin-top: 30px;
}
.botoes a{ 
   border-radius: 30px;
   padding: 10px 15px;
   background-color:#4d5e5d;
   color: white;
   text-decoration: none;
   margin: 20px;
}
a:hover  {
   border: #2f5f5d;
   color: #4d5e5d;
   background-color: white;
}

.vejamais{
   margin-top: 3%;
   width: 50%;
}

.vejamais a{
   text-decoration: none;
   color: #162a29; 
}
.vejamais i{
   padding-right: 5px;
}

/* PROJETO/ DESIGN */
.galery-container{
   width: 80%;

}

.filho{
   width: 100%;
   max-width: 1600px;
   margin: auto;
   padding: 20px;
}

.galery-container h1{
   font-size: 4vw;
   text-align: center;
   text-transform: uppercase;
   color: black;
}



.galery-container .neto {
   display: flex;
   flex-wrap: wrap-reverse;
   justify-content: center;

}

.galery-container .image {
   flex: 20%;
   overflow: hidden;
   cursor: pointer;
}

.galery-container .image img {
   width: 90%;
   height: 80%;
   transition: 0.4s;
   border-radius: 10px;
}

.galery-container .image:hover img {
   transform: scale(1.5);
}

@media  screen and (max-width:1200px) {
.galery-container .image {
   flex: 33.33%;
}
}

@media  screen and (max-width:768px) {
   .galery-container .image {
      flex: 50%;
   }
 
}

@media  screen and (max-width:480px) {
   .galery-container .image {
      flex: 100%;
   }
 
}
 /* FIM PROJETOS*/

/* CONTATO */
.contato{
   margin-top: 90px;
   height: auto;
   width: 100%;
}

.formulario{
   width: 70%;
   display: flex;
  
}

form{
   width: 50%;
}
.txtformulario{
   width: 50%;
}

.txtformulario h2{
   text-align: center;
   margin: 10px;
}

#formas-contato i{ 
  margin-right: 8%;
  color:#2f5f5d;
}

#formas-contato p{
      margin-left: 12%;
}

.botao{
   width: 30%;
   height: auto;
   padding: 8px;
   outline: none;
   border: none;
   background-color: #162a29;
   border-radius: 20px;
   color: white;
}
.botao:hover{
   border: 1px solid #162a29;
   background-color: white;
   color: #162a29;
}
/* FIM CONTATO */

 /* FOOTER */

 footer{
   background: #162a29;
   height: 150px;
   text-align: center;
   color: white;
}

.icones-footer{
   padding-top: 60px;
   
}

.icones-footer a{
   text-decoration: none;
   color: #7f9896;
   padding-left: 20px;
   font-size: 25px;
  
}

.icones-footer p{
   padding-top: 15px;
   color: rgba(240, 248, 255, 0.332);
}

.icones-footer a:hover{
   color: white;
   background: none;
}
/* FIM FOOTER */



