@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    overflow-x: hidden;
    
  
}

html,
body{
    scroll-behavior: smooth;
}
a{
    color: white;
    text-decoration: none;
}

a:hover{
    opacity: 0.7;
}

.home{
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
    padding-top: 1%;
    background: #2f5f5d;
   
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li{
    letter-spacing: 2px;
    margin-left: 32px;
    text-transform: uppercase;
}

.mobile-menu{
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: white;
    margin: 8px;
    transition: 0.3s;
}

@media (max-width: 999px){
    .nav-list{
        position: absolute;
        top: 8vh;
        right: 0;
        width: 100vw;
        height: 120vh;
        background:  #2f5f5d;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }

    .nav-list li{
        margin-left: 0;
        opacity: 0;
    }

    .mobile-menu{
        display: block;
    }
}

.nav-list.active{
    transform: translateX(0);
}

@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0);

    }

}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}


.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }


.gradient{
    align-items: center;
    justify-content: center;
    height: auto;
    min-height: 700px;
    width: 100%;
    background: linear-gradient(45deg,#000000, #2f5f5d,#000000);
    background-size: 200%;
    animation: colors 10s ease infinite;

}

@keyframes colors {
   0%{
       background-position: 0% 50%;

   }

   50%{
       background-position: 50% 100%;
   }

   100%{
       background-position: 0% 50%;
   }
}

.logo{
    text-align: center;
    margin-top: -70px;
    
   
 }
 
 .logo img{
   width: 470px;
  
 
 }

 .me {
   text-align: center;
   margin-top: 130px;
  
   
 }
 
 .me img{
 width: 160px;

 
 }

 /* ICONES */
#icons a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.789);
    padding-right: 3px;
 }
 #icons{
    margin-top: -20px;
    padding-bottom: 60px;
    color: rgba(255, 255, 255, 0.789);
    text-align: center;
    font-size: 25px;
    
 }
 
 #icons a:hover {
    color: #162a29;
    background: none;
 }
 /* FIM PAGINA INICIAL */

  /*SOBRE*/
#about{
    width: 100%;
    display: flex;
    margin-top: 5%;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
 }
  
 .anm{
    width:30%;
    float: left;
    
 }
 
 .text-sobre{
    width: 40%;
    float: right;
    text-align: center;
    
 }
 
 .text-sobre p{
    font-size: 20px;
    margin-top: 10%;
    
 }
  
.titulo{
    margin-top: 5%;
    margin-bottom: 5%;
}
 .h1-format{
    font-size: 35px;
    color: black;
    text-align: center;
    padding: 15px;
    border-top: 1px solid #7f9896;
    max-width: 20%;
    margin: 0 auto;      
 }
 
  .skills-container{
    margin-bottom: 100px;
    width: 35%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
   
    
  
  }
 .box-skills{
    margin-bottom: 10px;
    margin-right: 5px;
    border-radius: 5px;
    font-size: 20px;
    background-color: #4d5e5d;
    color: white;  
    text-transform: uppercase;
    padding: 10px;
 }

 #html{
    background-color: #E85B2A;
 }
 #css{
    background-color: #056FB8;
 }

 #bootstrap{
    background-color: #8575F3;
 }

 #javascript{
    background-color: #EFD82C;
 }

 #java{
    background-color: #E83A2A;
 }

 #python{
    background-color: #32709F;
 }

 #figma{
    background-color: #5CCA80;
 }

 #adobexd{
    background-color: #461935;
 }

 #gimp{
    background-color:#4E4A38;
 }
 .box-skills:hover{
    background-color: #162a29;
    color: #ffffff;
 }
 
 @media (max-width: 999px){
    #about{
        flex-direction: column;
      
    }

    .anm{
        width: 100%;
        text-align: center;
      
    }
    .h1-format{
        width: 25%;
    }
    .skills-container{
        width: 70%;
    }
    .text-sobre{
        width: 60%;
        margin-top: 50px;
        margin-bottom: 50px;
       
        
     }
 }
 
.projetos{
    display: flex;
    flex-wrap: wrap;
    flex: 2;
    width: 100%;
    margin: 0 auto;
}

.item{
    width: 50%;
    height: auto;
    text-align: center;
    margin-bottom: 15px;
}

button {
    border: none;
    width: 30%;
    padding: 15px;
    border-radius: 100px;
    margin-top: 50px;
    cursor: pointer;
    background-color: #2f5f5d;
}

button:hover a{
    color: #162a29;
}

button:hover{
    background-color: white;
    color: #162a29;
    border: 1px solid #162a29;
}
@media (max-width: 720px){
    .projetos{
        display: block;
        overflow-x: hidden;
    } 
    .item{
        width: 90%;
        height: auto;
        margin: 0 auto;
        padding: 30px;       
    }
    .item img{
        height: auto;
    }
}

/* DESIGN */

.design-filho{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    margin-top: 50px;
   
}

.cover{
    position: relative;
    width: 80%;
    height: 100%;
}

.cover::before{
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    z-index: 99;
    height: 100%;
    width: 150px;
    background-image: linear-gradient(90deg, #162a29aa,transparent);
}

.cover::after{
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    z-index: 99;
    height: 100%;
    width: 150px;
    background-image: linear-gradient(-90deg, #162a29aa, transparent);
    
}

.scroll-imagens{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: left;
    align-items: center;
    overflow: auto;
    position: relative;
    scroll-behavior: smooth;
    
}

.child{
    min-width: 500px;
    height: 450px;
    margin: 1px 10px;
    cursor: pointer;
    overflow-x: hidden;
    text-align: center;
     
}

.scroll-imagens::-webkit-scrollbar{
    -webkit-appearance: none;
}
.child-img{
    width: 100%;
    height: 100%;
}

.icon{
    color: white;
    background-color: #2f5f5d;
    border-radius: 200px;
    font-size: 30px;
    outline: none;
    border: none;
    padding: 10px;
    cursor: pointer;
    position: relative;
    margin: 10px;
   
    
}

.icon:hover{
    color: #7f9896;
}

.left{
    position: relative;
    margin-left: 30px;
}

.right{
    position: relative;
    margin-right: 20px;
    
}
#format{
    width: 70%;
}

@media (max-width: 720px){

    .cover{
        position: relative;
        width: 100%;

    }
    .left{
        position: relative;
        margin-left: 8px;
    }
    
    .right{
        position: relative;
        margin-right: 8px;
    }
    .icon{
        border-radius: 200px;
        font-size: 25px;
        padding: 5px;
        cursor: pointer;
        position: relative;
        margin: 10px;
        
    }
    .h1-format{
        font-size: 25px;
        max-width: 30%;
          
     }
     .child-img{
        width: 100%;
        height: 100%;
    }

    .child{
        min-width: 500px;
        height: 450px;
      
       
    }
}
/*FIM DESIGN*/

/*BOTAO DE VOLTAR  AO TOPO*/

#btnTop{
    position: fixed;
    bottom: 50px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #2f5f5d;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.arrow{
    padding: 5px;
    display: inline-block;
    font-size: 30px;
    color: white;
}


 /* FOOTER */

 footer{
    background: #162a29;
    height: 150px;
    text-align: center;
    color: white;
 }
 
 .icones-footer{
    padding-top: 60px;
    
 }
 
 .icones-footer a{
    text-decoration: none;
    color: #7f9896;
    padding-left: 20px;
    font-size: 25px;
   
 }
 
 .icones-footer p{
    padding-top: 15px;
    color: rgba(240, 248, 255, 0.332);
 }
 
 .icones-footer a:hover{
    color: white;
    background: none;
 }
 /* FIM FOOTER */

#bolhas{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}


#bolhas span {
    position: absolute;
    bottom: -50px;
    background-color: transparent;
    border-radius: 50%;
    pointer-events: none;
    box-shadow: inset 0 0 10px rgba(20, 20, 20, 0.259);
    animation: bolha 4s linear infinite;
}

#bolhas span:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    transform:scale(0.25) translate(-70%, -70%);
    background-color: radial-gradient(#4544445e, transparent);
    border-radius: 50%;

}

@keyframes bolha{
    0%{
        transform: translateY(0%);
    }

    99%{
        opacity: 1;
    }
    100%{
        transform: translateY(-1200%);
        opacity: 1;
    }
}